version: "3.9"

services:
  squid_proxy:
    image: ubuntu/squid:4.10-20.04_beta
    container_name: squid
    ports:
      - 3128:3128
    restart: unless-stopped
    networks:
      my_network:
        ipv4_address: 192.168.0.10
    volumes:
      - ./folder_config/squid.conf:/etc/squid/squid.conf
      - ./folder_config/allowed-sites:/etc/squid/allowed-sites
  
  
  ubuntu_user1:
    build: .
    container_name: ubuntu_user
    restart: no
    networks:
        my_network:
          ipv4_address: 192.168.0.11
    depends_on:
      - squid_proxy


networks:
  my_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1