version: "3.9"

services:
  squid_proxy:
    image: ubuntu/squid:4.10-20.04_beta
    container_name: squid
    ports:
      - 3128:3128
    restart: unless-stopped
    networks:
      my_network:
        ipv4_address: 192.168.0.10
    volumes:
      - ./folder_config/squid.conf:/etc/squid/squid.conf
      - ./folder_config/allowed-sites:/etc/squid/allowed-sites
  
  
  user01:
    build: .
    container_name: user1
    restart: unless-stopped
    networks:
        my_network:
          ipv4_address: 192.168.0.11
    depends_on:
      - squid_proxy
    environment:
      - http_proxy=192.168.0.10:3128
      - https_proxy=192.168.0.10:3128

  
  user02:
    build: .
    container_name: user2
    restart: unless-stopped
    networks:
        my_network:
          ipv4_address: 192.168.0.12
    depends_on:
      - squid_proxy
    environment:
      - http_proxy=192.168.0.10:3128
      - https_proxy=192.168.0.10:3128


networks:
  my_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1